 .my-component-container {
    height: 100vh;
    width: 100%;
      background-image: linear-gradient(rgba(2, 31, 54, 0.435), rgba(87, 87, 5, 0.432), rgba(4, 127, 119, 0.425));
      background-repeat: no-repeat;
      background-size: cover; /* Ensures the image covers the entire element */
      background-position: center; /* Centers the image */
    }