.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(93, 7, 119, 0.986), rgba(40, 7, 130, 0.979), rgba(4, 68, 127, 0.973));
    background-repeat: no-repeat;
    background-size: cover;
    /* Ensures the image covers the entire element */
    background-position: center;
    /* Centers the image */
}

.container-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 32px 24px;
    width: 300px;
    height: 400px;
    position: absolute;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.form-container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-div {
    width: 80%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.signupBtn {
    width: 100%;
    height: 40px;
    padding: 40px;
    margin-right: 20px !important;
    text-align: end;
    color: rgb(149, 146, 146);
}

.signupBtn:hover {
    text-decoration: underline;
    color: rgb(0, 136, 255);
    cursor: pointer;
}

.icons {
    position: absolute;
    font-size: 15px;
    padding: 6px;

}

.inputCls {
    font-size: 12px;
    padding: 5px 5px 5px 20px;
}

.submitBtn {
    width: 80%;
    height: 25px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #03be95;

}

.icons:hover {
    color: black;
}

.hasError {
    color: red;
    font-size: 10px;
}