.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.menu-header {
   background-color: #d2d9ff;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    width: 8em;
}
.menu-container {
    flex: 1;
    padding: 1rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-item {
        flex: 1;
    overflow-y: auto;
    text-align: center;
    width: 10em;
    height: 25em;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #eceaea;
    }
.logout{
    float: right;
    cursor: pointer;
}